<div class="row" *ngFor="let i of storiesLength">
    <div class="col" >
        <app-stories [storiesLength]="i"></app-stories>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn" (click)="showMoreStories()">(Show more)</button>
    </div>
</div>
