<div class="row x" >
    <div class="col">
        <small class="text-danger font-weight-bold">{{comment?.by}} ({{comment?.time * 1000 | date:"medium"}})</small>
        <button class="btn" (click)="toggleComment()" *ngIf="showComment==true">[-]</button> 
        <button class="btn" (click)="toggleComment()" *ngIf="showComment==false">[+]</button>
        <div class="row" *ngIf="showComment == true">
            <div class="col">
                <p innerHTML="{{comment?.text}}" class="text-justify"></p>
                <div class="row" *ngFor="let commentKid of commentKids">
                    <div class="col">
                        <app-comment-kids [commentKid]="commentKid"></app-comment-kids>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
