<div class="row" *ngFor="let commentId of commentsLength">
    <div class="col">
        <app-comments [commentId]="commentId"></app-comments>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn" (click)="showMoreComments()">(Show more)</button>
    </div>
</div>
