<div class="row" >
    <div class="col">
        <a class="text-decoration-none" [routerLink]="['stories']">
            <h1 class="text-center text-white">Hacker News</h1>
        </a>
    </div>
</div>
