<div class="row bg-light" >
    <div class="col">
      <div>
          <h5>
              <a href="{{story?.url}}" target="_blank" class="text-decoration-none ">
                  <u>
                    {{story?.title}}
                  </u>
                </a> 
                <small class="text-muted">
                    ({{story?.url}})
                </small>
            </h5>
            <div class="row">
                <div class="col">
                    <small>
                        ({{story?.score}} points by {{story?.by}}) {{story?.time * 1000 | date:"medium"}}
                    </small>
                    <button class="btn" routerLink="{{story?._id}}/comments">Comments({{story?.descendants}})</button>
                </div>
            </div>
      </div>
    </div>
</div>
